In [3]:
import sqlite3
conn=sqlite3.connect('test.db')

NameError: name 'null' is not defined

In [ ]:
import sqlite3
conn=sqlite3.connect('test.db')

In [ ]:
     CREATE TABLE employees (
    emp_id INTEGER PRIMARY KEY NOT NULL,         -- ðŸ”‘ Employee ID, unique and required
    emp_name TEXT NOT NULL,                      -- ðŸ“ Employee Name, required
    age INTEGER CHECK (age >= 18),               -- ðŸŽ‚ Age, must be 18 or older
    email TEXT UNIQUE NOT NULL,                  -- ðŸ“§ Email, unique for each employee
    salary DECIMAL DEFAULT 30000.00              -- ðŸ’° Salary, defaults to 30,000
);

In [ ]:
ALTER TABLE table_name
ADD CONSTRAINT constraint_name constraint_type (column_name);

In [ ]:
-- First, make sure there are no duplicate emails already in the table.
-- If there are, this command will fail.
ALTER TABLE employees
ADD CONSTRAINT uq_email UNIQUE (email);

In [ ]:
SQL
ALTER TABLE table_name
DROP CONSTRAINT constraint_name;

In [ ]:
SQL
ALTER TABLE employees
DROP CONSTRAINT uq_email;

In [ ]:
SQL

-- This INSERT works because the email is unique
INSERT INTO employees (emp_id, emp_name, email) VALUES (1, 'Alice', 'alice@company.com');

-- This INSERT will fail because the email 'alice@company.com' already exists
INSERT INTO employees (emp_id, emp_name, email) VALUES (2, 'Bob', 'ashishpal.com');

In [ ]:
import pandas as pd

students_data = {'student_id': [1, 2, 3],
                'student_name': ['Alice', 'Bob', 'Charlie'],
                'class_id': [101, 102, 101]}
students_df = pd.DataFrame(students_data)
print(" ")
classes_data = {'class_id': [101, 102, 103],
               'class_name': ['Math', 'Science', 'History']}
classes_df = pd.DataFrame(classes_data)

print("Students Table:")
print(students_df.to_markdown(index=False))
print("  ")
print("  ")
print("  ")
print("\nClasses Table:")
print(classes_df.to_markdown(index=False))

In [ ]:
SQL

SELECT
    s.student_name,
    c.class_name
FROM
    students s
INNER JOIN
    classes c ON s.class_id = c.class_id;

In [ ]:
import pandas as pd
import numpy as np

orders_data = {'order_id': [1, 2, 3],
               'order_date': ['2024-01-01', '2024-01-02', '2024-01-03'],
               'customer_id': [101, 101, 102]}
orders_df = pd.DataFrame(orders_data)
print("Orders Table:")
print(orders_df.to_markdown(index=False))
print("\n")


Customers_data = {'customer_id':[101,102],
                  'customer_name':['Alice', 'Bob']}
Customers_df = pd.DataFrame(Customers_data)
print('Customers Table:')
print(Customers_df.to_markdown(index=False))
print("\n")


Product_data = {
    'Product_id':[1,2],
    'product_name':['Laptop','Phone'],
    'order_id':[1,'NULL']
}
Product_df_original = pd.DataFrame(Product_data)
print('Product Table (Original):')
print(Product_df_original.to_markdown(index=False))

In [ ]:
import pandas as pd
import numpy as np

# Original DataFrames
orders_data = {'order_id': [1, 2, 3],
               'order_date': ['2024-01-01', '2024-01-02', '2024-01-03'],
               'customer_id': [101, 101, 102]}
orders_df = pd.DataFrame(orders_data)

Customers_data = {'customer_id':[101,102],
                  'customer_name':['Alice', 'Bob']}
Customers_df = pd.DataFrame(Customers_data) # Renamed for clarity

Product_data = {
    'Product_id':[1,2],
    'product_name':['Laptop','Phone'],
    'order_id':[1,'NULL'] # Original 'NULL' as string
}
Product_df_original = pd.DataFrame(Product_data)

# Pre-processing: Convert 'NULL' string to NaN in Product DataFrame for proper merging
Product_df = Product_df_original.copy()
Product_df['order_id'] = Product_df['order_id'].replace('NULL', np.nan).astype(float) # Convert to float to allow NaN

# Display original tables
print("Orders Table:")
print(orders_df.to_markdown(index=False))

print("\n")

print('Customers Table:')
print(Customers_df.to_markdown(index=False))

print("\n")

print('Product Table (Original):')
print(Product_df_original.to_markdown(index=False))

print("\n")

# --- Performing the Joins ---

# Step 1: INNER JOIN orders_df with Customers_df
# This links orders to customer names. We use an INNER JOIN because we only care
# about orders that have a valid customer associated with them.
orders_with_customers = pd.merge(orders_df, Customers_df, on='customer_id', how='inner')

# Step 2: LEFT JOIN Product_df with the result from Step 1
# We use Product_df as the LEFT DataFrame to ensure ALL products are listed,
# even those (like the 'Phone') that don't have an 'order_id' or a matching order.
# The `how='left'` ensures all rows from `Product_df` are kept.
final_merged_df = pd.merge(Product_df, orders_with_customers[['order_id', 'customer_name']],
                           on='order_id',
                           how='left')

# Select the required columns: order_id, customer_name, and product_name
result_df = final_merged_df[['order_id', 'customer_name', 'product_name']]

print('Resulting Query:')
print(result_df.to_markdown(index=False))

In [ ]:
orders_with_customers = pd.merge(orders_df, Customers_df, on='customer_id', how='inner')

In [ ]:
final_merged_df = pd.merge(Product_df, orders_with_customers[['order_id', 'customer_name']],
                           on='order_id',
                           how='left')

In [ ]:
result_df = final_merged_df[['order_id', 'customer_name', 'product_name']]

In [ ]:
import pandas as pd
Sales={
    'sales_id':[1,2,3],
    'product_id':[101,102,101],
    'amount':[500,300,700]
}
Sales=pd.DataFrame(Sales)
print(" Sales :")
print(Sales.to_markdown(index=False))

print("\n")



Products={
    'product_id':[101,102],
    'product_name':['Laptop','Phone']
}
Products=pd.DataFrame(Products)
print("Products :")
print(Products.to_markdown(index=False))

print("\n")

In [ ]:
SELECT
    p.product_name,        -- ðŸ·ï¸ Select the product name
    SUM(s.amount) AS total_sales_amount -- ðŸ’² Calculate the sum of sales for each product
FROM
    Sales s                 -- ðŸ“ˆ From the Sales table (aliased as 's')
INNER JOIN
    Products p ON s.product_id = p.product_id -- ðŸ¤ Join with the Products table (aliased as 'p')
GROUP BY
    p.product_name          --  grouping by product name
ORDER BY
    total_sales_amount DESC; -- sort in descending order

In [ ]:
import pandas as pd
import numpy as np

orders_data = {'order_id': [1, 2],
               'order_date': ['2024-01-02', '2024-01-05'],
               'customer_id': [1,2]}
orders_df = pd.DataFrame(orders_data)
print("Orders Table:")
print(orders_df.to_markdown(index=False))
print("\n")
print("\n")


Customers_data = {'customer_id':[101,102],
                  'customer_name':['Alice', 'Bob']}
Customers_df = pd.DataFrame(Customers_data)
print('Customers Table:')
print(Customers_df.to_markdown(index=False))
print("\n")
print("\n")

Order_details={
    'order_id':[1,1,2],
    'product_id':[101,102,101],
    'quantity':[2,1,3]
}
Order_details=pd.DataFrame(Order_details)
print("Oder_Details :")
print(Order_details.to_markdown(index=False))

In [ ]:
SELECT
    o.order_id,         -- ðŸ“¦ The ID of the order
    c.customer_name,    -- ðŸ‘¤ The name of the customer
    od.quantity         -- #ï¸âƒ£ The quantity of products in that order detail
FROM
    Orders o            -- Start with the Orders table (aliased as 'o')
INNER JOIN
    Customers c ON o.customer_id = c.customer_id -- ðŸ¤ Link Orders to Customers by customer_id
INNER JOIN
    Oder_Details od ON o.order_id = od.order_id; -- ðŸ”— Link Orders to Order_Details by order_id

In [ ]:
SELECT
    * -- ðŸ“ The asterisk selects all columns
FROM
    actor; -- ðŸŽ­ From the actor table

In [ ]:
SELECT
    * -- ðŸ“ The asterisk selects all columns
FROM
    customer; -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ From the customer table

In [ ]:
SELECT
    country -- ðŸ—ºï¸ Select the country name
FROM
    country; -- ðŸŒŽ From the country table

In [ ]:
SELECT
    * -- ðŸ“ Select all columns
FROM
    customer -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ From the customer table
WHERE
    active = 1; -- âœ… Where the customer is active

In [ ]:
SELECT
    rental_id -- ðŸ”‘ Select the rental ID
FROM
    rental -- ðŸ“¦ From the rental table
WHERE
    customer_id = 1; -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ For customer with ID 1

In [ ]:
SELECT
    * -- ðŸ“ Select all columns to see full film details
FROM
    film -- ðŸŽ¥ From the film table
WHERE
    rental_duration > 5; -- â³ Filter for films with rental duration greater than 5

In [ ]:
SELECT
    COUNT(*) -- ðŸ”¢ Count all films that meet the criteria
FROM
    film -- ðŸŽ¥ From the film table
WHERE
    replacement_cost > 15 AND replacement_cost < 20; -- ðŸ’² Filter for the specified cost range

In [ ]:
SELECT
    COUNT(DISTINCT first_name) AS unique_first_names_count -- ðŸ”¢ Count unique first names
FROM
    actor; -- ðŸŽ­ From the actor table

In [ ]:
SELECT
    * -- ðŸ“ Select all columns
FROM
    customer -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ From the customer table
LIMIT 10; -- âž¡ï¸ Limit the result to the first 10 records

In [ ]:
SELECT
    * -- ðŸ“ Select all columns
FROM
    customer -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ From the customer table
WHERE
    first_name LIKE 'B%' -- ðŸ” Filter for first names that start with 'B'\n",
LIMIT 3; -- âž¡ï¸ Limit the result to the first 3 records

In [ ]:
SELECT
    title -- ðŸŽ¥ Select the movie title
FROM
    film -- ðŸŽžï¸ From the film table
WHERE
    rating = 'G' -- ðŸ‘¶ Filter for movies with a 'G' rating
LIMIT 5; -- ðŸ”Ÿ Limit the result to the first 5 movies

In [ ]:
SELECT
    * -- ðŸ“ Select all customer details
FROM
    customer -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ From the customer table
WHERE
    first_name LIKE 'A%'; -- ðŸ…°ï¸ Filter for names that begin with 'A'

In [ ]:
SELECT
    * -- ðŸ“ Select all customer details
FROM
    customer -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ From the customer table
WHERE
    first_name LIKE '%a'; -- ðŸ…°ï¸ Filter for names that end with 'a'

In [ ]:
SELECT
    city -- ðŸŒ† Select the city name
FROM
    city -- ðŸ—ºï¸ From the city table
WHERE
    city LIKE 'a%a' -- ðŸ” Filter for cities that start and end with 'a'
LIMIT 4; -- âž¡ï¸ Limit the result to the first 4 cities

In [ ]:
SELECT
    * -- ðŸ“ Select all customer details
FROM
    customer -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ From the customer table
WHERE
    first_name LIKE '_r%'; -- ðŸ” Filter for names with 'r' in the second position

In [ ]:
SELECT
    * -- ðŸ“ Select all customer details
FROM
    customer -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ From the customer table
WHERE
    first_name LIKE 'A____%'; -- ðŸ…°ï¸ Filter for names starting with 'A' and at least 5 characters long

In [ ]:
SELECT
    * -- ðŸ“ Select all customer details
FROM
    customer -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ From the customer table
WHERE
    first_name LIKE 'A%o'; -- ðŸ…°ï¸ Filter for names that begin with 'A' and end with 'o'

In [ ]:
SELECT
    * -- ðŸ“ Select all film details
FROM
    film -- ðŸŽžï¸ From the film table
WHERE
    rating IN ('PG', 'PG-13'); -- ðŸ“‹ Filter for films with a 'PG' or 'PG-13' rating

In [ ]:
SELECT
    * -- ðŸ“ Select all film details
FROM
    film -- ðŸŽ¥ From the film table
WHERE
    length BETWEEN 50 AND 100; -- ðŸ“ Filter for films with a length between 50 and 100 minutes

In [ ]:
SELECT
    * -- ðŸ“ Select all columns for the actors
FROM
    actor -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ From the actor table
LIMIT 50; -- âž¡ï¸ Limit the result to the first 50 records

In [ ]:
SELECT DISTINCT
    film_id -- ðŸŽ¬ Select only unique film IDs
FROM
    inventory; -- ðŸ“¦ From the inventory table

In [ ]:
SELECT COUNT(*) FROM rental;

In [ ]:
SELECT
    AVG(rental_duration)
FROM
    film;

In [ ]:
SELECT
    UPPER(first_name),
    UPPER(last_name)
FROM
    customer;

In [ ]:
SELECT
    rental_id,
    MONTH(rental_date) AS rental_month
FROM
    rental;

In [ ]:
SELECT
    customer_id,        -- ðŸ”‘ Select the customer ID
    COUNT(rental_id) AS rental_count -- ðŸ”¢ Count the number of rentals for each customer
FROM
    rental              -- ðŸ“¦ From the rental table
GROUP BY
    customer_id;        -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ Group the results by customer ID

In [ ]:
SELECT
    s.store_id,
    SUM(p.amount) AS total_revenue
FROM
    store s
JOIN
    staff st ON s.manager_staff_id = st.staff_id
JOIN
    payment p ON st.store_id = p.store_id
GROUP BY
    s.store_id;

In [ ]:
SELECT
    c.name AS category_name,       -- ðŸ·ï¸ Select the category name
    COUNT(r.rental_id) AS rental_count -- ðŸ”¢ Count the number of rentals for each category
FROM
    category c                     -- From the category table (aliased as 'c')
INNER JOIN
    film_category fc ON c.category_id = fc.category_id -- ðŸ¤ Link categories to films
INNER JOIN
    inventory i ON fc.film_id = i.film_id             -- ðŸ”— Link films to inventory
INNER JOIN
    rental r ON i.inventory_id = r.inventory_id         -- ðŸ“¦ Link inventory to rentals
GROUP BY
    c.name                         -- ðŸ—‚ï¸ Group the results by category name
ORDER BY
    rental_count DESC;             -- ðŸ”½ Sort by the count of rentals in descending order

In [ ]:
SELECT
    l.name AS language,         -- ðŸ—£ï¸ Select the language name
    AVG(f.rental_rate) AS average_rental_rate -- ðŸ’² Calculate the average rental rate for each language
FROM
    film f                     -- From the film table (aliased as 'f')
INNER JOIN
    language l ON f.language_id = l.language_id -- ðŸ¤ Join with the language table (aliased as 'l')
GROUP BY
    l.name;                     -- ðŸ—‚ï¸ Group the results by language

In [ ]:
SELECT
    f.title AS movie_title,      -- ðŸŽ¥ Select the movie title
    c.first_name,                -- ðŸ‘¤ Select the customer's first name
    c.last_name                  -- ðŸ‘¤ Select the customer's last name
FROM
    film f                       -- Start with the film table (aliased as 'f')
INNER JOIN
    inventory i ON f.film_id = i.film_id -- ðŸ”— Join film to inventory
INNER JOIN
    rental r ON i.inventory_id = r.inventory_id -- ðŸ¤ Join inventory to rental
INNER JOIN
    customer c ON r.customer_id = c.customer_id -- ðŸ§‘â€ðŸ¤â€ðŸ§‘ Join rental to customer
ORDER BY
    f.title;                     -- ðŸ”  Optional: Sort the results by movie title

In [ ]:
SELECT
    a.first_name,        -- ðŸ‘¤ Select the actor's first name
    a.last_name          -- ðŸ‘¤ Select the actor's last name
FROM
    actor a              -- Start with the actor table (aliased as 'a')
INNER JOIN
    film_actor fa ON a.actor_id = fa.actor_id -- ðŸ¤ Link actors to film_actor table
INNER JOIN
    film f ON fa.film_id = f.film_id          -- ðŸ”— Link film_actor to the film table
WHERE
    f.title = 'Gone with the Wind'; -- ðŸ” Filter for the movie title

In [ ]:
SELECT
    c.first_name,        -- ðŸ‘¤ Select the customer's first name
    c.last_name,         -- ðŸ‘¤ Select the customer's last name
    SUM(p.amount) AS total_spent -- ðŸ’° Calculate the total amount spent
FROM
    customer c           -- Start with the customer table (aliased as 'c')
INNER JOIN
    payment p ON c.customer_id = p.customer_id -- ðŸ¤ Join with the payment table using customer_id
GROUP BY
    c.customer_id,       -- ðŸ—‚ï¸ Group the results by customer ID
    c.first_name,        -- ðŸ—‚ï¸ and first name
    c.last_name          -- ðŸ—‚ï¸ and last name
ORDER BY
    total_spent DESC;    -- ðŸ”½ Sort by the total amount spent in descending order

In [ ]:
SELECT
    f.title AS movie_title,      -- ðŸŽ¥ Select the movie title
    c.first_name,                -- ðŸ‘¤ The customer's first name
    c.last_name                  -- ðŸ‘¤ The customer's last name
FROM
    customer c                   -- Start with the customer table (aliased as 'c')
INNER JOIN
    address a ON c.address_id = a.address_id    -- ðŸ¤ Link customer to their address
INNER JOIN
    city ci ON a.city_id = ci.city_id           -- ðŸ”— Link address to the city
INNER JOIN
    rental r ON c.customer_id = r.customer_id    -- ðŸ¤ Link customer to their rentals
INNER JOIN
    inventory i ON r.inventory_id = i.inventory_id  -- ðŸ“¦ Link rentals to inventory
INNER JOIN
    film f ON i.film_id = f.film_id             -- ðŸŽžï¸ Link inventory to films
WHERE
    ci.city = 'London'           -- ðŸ” Filter for a specific city
GROUP BY
    f.title,                     -- ðŸ—‚ï¸ Group the results to avoid duplicates
    c.first_name,
    c.last_name
ORDER BY
    c.last_name, c.first_name, f.title; -- ðŸ”¡ Sort for easy reading

In [ ]:
SELECT
    f.title AS movie_title,          -- ðŸŽ¥ Select the movie title
    COUNT(r.rental_id) AS rental_count -- ðŸ”¢ Count the number of times each movie has been rented
FROM
    film f                           -- Start with the film table (aliased as 'f')
INNER JOIN
    inventory i ON f.film_id = i.film_id -- ðŸ”— Link films to their inventory copies
INNER JOIN
    rental r ON i.inventory_id = r.inventory_id -- ðŸ¤ Link inventory to rental transactions
GROUP BY
    f.title                          -- ðŸ—‚ï¸ Group all rentals for the same movie together
ORDER BY
    rental_count DESC                -- ðŸ”½ Sort the results from most rented to least
LIMIT 5;                             -- ðŸ–ï¸ Limit the output to the top 5

In [ ]:
SELECT
    c.first_name,         -- ðŸ‘¤ Select the customer's first name
    c.last_name,          -- ðŸ‘¤ Select the customer's last name
    COUNT(DISTINCT i.store_id) AS store_count -- ðŸ”¢ Count the unique stores they rented from
FROM
    customer c            -- Start with the customer table (aliased as 'c')
INNER JOIN
    rental r ON c.customer_id = r.customer_id -- ðŸ¤ Link customers to their rentals
INNER JOIN
    inventory i ON r.inventory_id = i.inventory_id -- ðŸ”— Link rentals to the inventory to get the store ID
GROUP BY
    c.customer_id,        -- ðŸ—‚ï¸ Group the results for each customer
    c.first_name,\n",
    c.last_name
HAVING
    COUNT(DISTINCT i.store_id) = 2; -- ðŸ” Filter for customers who have rented from exactly 2 distinct stores

In [ ]:
SELECT
    c.customer_id,                     -- ðŸ”‘ Select the customer's ID
    c.first_name,                      -- ðŸ‘¤ Select the customer's first name
    c.last_name,                       -- ðŸ‘¤ Select the customer's last name
    SUM(p.amount) AS total_spent,      -- ðŸ’° Calculate the total amount spent by each customer
    RANK() OVER (ORDER BY SUM(p.amount) DESC) as customer_rank -- ðŸ¥‡ Rank customers by total spending
FROM
    customer c                         -- Start with the customer table (aliased as 'c')
JOIN
    payment p ON c.customer_id = p.customer_id -- ðŸ¤ Join with the payment table
GROUP BY
    c.customer_id, c.first_name, c.last_name -- ðŸ—‚ï¸ Group results for each unique customer
ORDER BY
    customer_rank ASC;                 -- ðŸ” Display the highest-ranking customers first

In [ ]:
SELECT
    f.title,                           -- ðŸŽ¥ The title of the movie
    p.payment_date,                    -- ðŸ“… The date of the payment
    p.amount,                          -- ðŸ’² The amount of the individual payment
    SUM(p.amount) OVER (PARTITION BY f.film_id ORDER BY p.payment_date) AS cumulative_revenue -- ðŸ’° Calculate the cumulative revenue
FROM
    payment p                          -- Start with the payment table (aliased as 'p')
JOIN
    rental r ON p.rental_id = r.rental_id  -- ðŸ¤ Join payments to rentals
JOIN
    inventory i ON r.inventory_id = i.inventory_id -- ðŸ”— Join rentals to inventory
JOIN
    film f ON i.film_id = f.film_id      -- ðŸŽžï¸ Join inventory to films
ORDER BY
    f.title,                           -- ðŸ”  Sort by movie title
    p.payment_date;                    -- ðŸ—“ï¸ Then by date to show the progression

In [ ]:
WITH FilmLengthGroups AS (\n",
    SELECT
        title,\n",
        length,\n",
        rental_duration,\n",
        NTILE(4) OVER (ORDER BY length) AS length_group\n",
    FROM
        film\n",
")\n",
SELECT\n",
    length_group,\n",
    AVG(rental_duration) AS average_rental_duration,\n",
    COUNT(*) AS film_count\n",
FROM\n",
    FilmLengthGroups\n",
GROUP BY\n",
    length_group\n",
ORDER BY\n",
    length_group;

In [ ]:
WITH FilmRentalCounts AS (\n",
    SELECT\n",
        f.title,\n",
        c.name AS category_name,\n",
        COUNT(r.rental_id) AS rental_count\n",
    FROM\n",
        film f\n",
    JOIN\n",
        inventory i ON f.film_id = i.film_id\n",
    JOIN\n",
        rental r ON i.inventory_id = r.inventory_id\n",
    JOIN\n",
        film_category fc ON f.film_id = fc.film_id\n",
    JOIN\n",
        category c ON fc.category_id = c.category_id\n",
    GROUP BY\n",
        f.title, c.name\n",
")\n",
", RankedFilms AS (\n",
    SELECT\n",
        title,\n",
        category_name,\n",
        rental_count,\n",
        RANK() OVER (PARTITION BY category_name ORDER BY rental_count DESC) as category_rank\n",
    FROM\n",
        FilmRentalCounts\n",
")\n",
SELECT\n",
    title,\n",
    category_name,\n",
    rental_count\n",
FROM\n",
    RankedFilms\n",
WHERE\n",
    category_rank <= 3\n",
ORDER BY\n",
    category_name, category_rank;

In [ ]:
WITH CustomerRentalCounts AS (\n",
    SELECT\n",
        customer_id,\n",
        COUNT(rental_id) AS total_rentals_by_customer\n",
    FROM\n",
        rental\n",
    GROUP BY\n",
        customer_id\n",
"),\n",
"AverageRentals AS (\n",
    SELECT\n",
        AVG(total_rentals_by_customer) AS average_rentals_across_all_customers\n",
    FROM\n",
        CustomerRentalCounts\n",
")\n",
"SELECT\n",
    crc.customer_id,\n",
    crc.total_rentals_by_customer,\n",
    ar.average_rentals_across_all_customers,\n",
    crc.total_rentals_by_customer - ar.average_rentals_across_all_customers AS difference_from_average\n",
FROM\n",
    CustomerRentalCounts crc,\n",
    AverageRentals ar\n",
ORDER BY\n",
    difference_from_average DESC;

In [ ]:
SELECT\n",
    DATE_FORMAT(payment_date, '%Y-%m') AS rental_month, -- ðŸ“… Format the date to show year and month\n",
    SUM(amount) AS total_revenue     -- ðŸ’° Calculate the total revenue for each month\n",
FROM\n",
    payment                         -- From the payment table\n",
GROUP BY\n",
    rental_month                    -- ðŸ—‚ï¸ Group the results by the formatted month\n",
ORDER BY\n",
    rental_month;                   -- ðŸ”½ Order the results chronologically

In [ ]:
WITH CustomerTotalSpending AS (\n",
    SELECT\n",
        customer_id,\n",
        SUM(amount) AS total_spent\n",
    FROM\n",
        payment\n",
    GROUP BY\n",
        customer_id\n",
"),\n",
"RankedCustomers AS (\n",
    SELECT\n",
        customer_id,\n",
        total_spent,\n",
        NTILE(5) OVER (ORDER BY total_spent DESC) as spending_quartile -- 5 is used for 20% (100/20=5)\n",
    FROM\n",
        CustomerTotalSpending\n",
")\n",
"SELECT\n",
    c.first_name,\n",
    c.last_name,\n",
    rc.total_spent\n",
FROM\n",
    customer c\n",
JOIN\n",
    RankedCustomers rc ON c.customer_id = rc.customer_id\n",
WHERE\n",
    rc.spending_quartile = 1\n",
ORDER BY\n",
    rc.total_spent DESC;

In [ ]:
WITH RentalCounts AS (\n",
    SELECT\n",
        c.name AS category,\n",
        COUNT(r.rental_id) AS rental_count\n",
    FROM\n",
        category c\n",
    JOIN\n",
        film_category fc ON c.category_id = fc.category_id\n",
    JOIN\n",
        inventory i ON fc.film_id = i.film_id\n",
    JOIN\n",
        rental r ON i.inventory_id = r.inventory_id\n",
    GROUP BY\n",
        c.name\n",
")\n",
SELECT\n",
    category,\n",
    rental_count,\n",
    SUM(rental_count) OVER (ORDER BY rental_count DESC) AS running_total_of_rentals\n",
FROM\n",
    RentalCounts\n",
ORDER BY\n",
    rental_count DESC;

In [ ]:
WITH FilmRentalCounts AS (\n",
    -- Step 1: Calculate the rental count for each film.\n",
    SELECT\n",
        f.film_id,\n",
        f.title,\n",
        fc.category_id,\n",
        COUNT(r.rental_id) AS rental_count\n",
    FROM\n",
        film f\n",
    JOIN\n",
        film_category fc ON f.film_id = fc.film_id\n",
    JOIN\n",
        inventory i ON fc.film_id = i.film_id\n",
    JOIN\n",
        rental r ON i.inventory_id = r.inventory_id\n",
    GROUP BY\n",
        f.film_id, f.title, fc.category_id\n",
"),\n",
"CategoryAverageRentals AS (\n",
    -- Step 2: Calculate the average rental count for each category.\n",
    SELECT\n",
        category_id,\n",
        AVG(rental_count) AS average_rental_count\n",
    FROM\n",
        FilmRentalCounts\n",
    GROUP BY\n",
        category_id\n",
")\n",
"-- Step 3: Find films with a rental count less than their category's average.\n",
"SELECT\n",
    frc.title,\n",
    frc.rental_count,\n",
    car.average_rental_count\n",
FROM\n",
    FilmRentalCounts frc\n",
JOIN\n",
    CategoryAverageRentals car ON frc.category_id = car.category_id\n",
WHERE\n",
    frc.rental_count < car.average_rental_count\n",
ORDER BY\n",
    frc.rental_count DESC;

In [ ]:
SELECT\n",
    DATE_FORMAT(payment_date, '%Y-%m') AS rental_month,\n",
    SUM(amount) AS total_revenue\n",
FROM\n",
    payment\n",
GROUP BY\n",
    rental_month\n",
ORDER BY\n",
    total_revenue DESC\n",
LIMIT 5;